<navbar></navbar>

<div class="p-3">
  <router-outlet></router-outlet>
</div>

<!--
  <github-followers></github-followers>

<h3>Fake API post creation w JSONPlaceholder.typicode</h3>
<post></post>

<h3>Change password form</h3>
<change-password-form></change-password-form>

<h3>New course form</h3>
<new-course-form></new-course-form>

<h3>Sign up form/h3>
<signup-form></signup-form>

<h3>Course creation template driven form</h3>
<course-form></course-form>
<hr>

<h3>Contact form template driven form</h3>
<contact-form></contact-form>
<hr>

<like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></like>
<hr>

<zippy title="Shopping Details">
    Shipping Details Content
</zippy>
<zippy title="Billing Details">
    Billing Details Content
</zippy>
<hr>

-->
