<h3>Change password form</h3>

<form [formGroup]="form">
  <div class="mb-2">
    <label for="oldPassword">Old password</label>
    <input
      formControlName="oldPassword"
      id="oldPassword"
      type="password"
      class="form-control"
    />
    <!-- <div *ngIf="oldPassword?.pending">Checking old password</div> -->
    <div
      class="alert alert-danger"
      *ngIf="oldPassword?.touched && oldPassword?.invalid"
    >
      <div *ngIf="oldPassword?.errors?.required">Old password is required</div>
      <div *ngIf="oldPassword?.errors?.shouldBeOldPassword">
        Old password is not equal
      </div>
    </div>
  </div>


  <div class="mb-2">
    <label for="newPassword">New password</label>
    <input
      formControlName="newPassword"
      id="newPassword"
      type="password"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="newPassword?.touched && newPassword?.invalid"
    >
      <div *ngIf="newPassword?.errors?.required">New password is required</div>
    </div>
  </div>

  <div class="mb-2">
    <label for="newPassword">Confirm password</label>
    <input
      formControlName="confirmPassword"
      id="confirmPassword"
      type="password"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="confirmPassword?.touched && confirmPassword?.invalid"
    >
      <div *ngIf="confirmPassword?.errors?.required">Confirm password is required</div>

      <div *ngIf="confirmPassword?.errors?.matching">
        Passwords do not match
      </div>
    </div>
  </div>

  <button
    type="button"
    class="btn btn-primary"
    [disabled]="oldPassword && oldPassword.pending || form.invalid">
      Update
  </button>

</form>
